{% extends "base.html" %}

{% block title %}Crear Administrador{% endblock %}

{% block content %}
<div class="wrapper">
    <h2 class="section-title">Crear Administrador</h2>
    <div class="form-container">
        {% if form_errors %}
        <div class="alert alert-danger">
            <p>Por favor corrija los siguientes errores:</p>
            {% if user_form.non_field_errors %}
                {{ user_form.non_field_errors }}
            {% endif %}
            {% if profile_form.non_field_errors %}
                {{ profile_form.non_field_errors }}
            {% endif %}
        </div>
        {% endif %}
        
        <form method="post" class="event-form">
            {% csrf_token %}
            <div class="form-grid">
                {% for field in user_form %}
                    <div class="form-group {% if field.name in 'email,username' %}full-width{% endif %}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% for field in profile_form %}
                    <div class="form-group {% if field.name == 'direccion' %}full-width{% endif %}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="form-actions">
                <div class="button-group">
                    <button type="submit" class="btn btn-primary">Crear Administrador</button>
                    <a href="{% url 'listar_administradores' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}